<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98484365863-d7urk2sdpkq1hf5a5ebqgbllcdqnptni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98484365863-d7urk2sdpkq1hf5a5ebqgbllcdqnptni</string>
	<key>API_KEY</key>
	<string>AIzaSyC5TRJlH2zJeKE55EIZJ7pGuhWyOvY4Wt4</string>
	<key>GCM_SENDER_ID</key>
	<string>98484365863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kisswe.kisswe</string>
	<key>PROJECT_ID</key>
	<string>kisswe</string>
	<key>STORAGE_BUCKET</key>
	<string>kisswe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98484365863:ios:ef61a73fb6d1d9ed8b3c02</string>
</dict>
</plist>